<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>


<!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="{% static 'images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg' %}"  alt="About 1">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="mb-3">About Us</h2>
            <p class="lead fs-4 text-secondary mb-3">HEALTHCARE has pioneered the quality revolution in the field of healthcare delivery in the country, making quality healthcare affordable and accessible to everyone.</p>
            <p class="mb-5">Today, HEALTHCARE stands among the top 10 hospitals in India with top-notch healthcare delivery systems, evidence-based medicine, high-end facilities, and quality-oriented practices.</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                                        <img src="{% static 'images/icons8-doctor-50.png' %}" alt="logo" height="30">

                  </div>
                  <div>
                    <h2 class="h4 mb-3">Services</h2>
                    <p class="text-secondary mb-0">Treat all common medical conditions and refer patients to hospitals and other medical services for urgent and specialist treatment.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">

                    <img src="{% static 'images/icons8-24hr-service-53.png' %}" alt="logo" height="30">
                  </div>
                  <div>
                    <h2 class="h4 mb-3">24*7 hrs Services</h2>
                    <p class="text-secondary mb-0">24hrs Services is available.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>
</html>